[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
psycopg2-binary = "*"
coverage = "*"
twine = "*"
m2r = "*"
garpix-qa = "*"
garpix-page = "*"
garpix-utils = "*"
django = "==3.1"

[dev-packages]

[requires]
python_version = "3.8"
