[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
coverage = "*"
twine = "*"
m2r = "*"
garpix-qa = "*"
garpix-page = ">=2.49.0-rc7, <3.0.0"
garpix-utils = ">=1.10.0-rc25, <2.0.0"
django = "==4.2"
mistune = "==0.8.4"
psycopg2-binary = ">=2.9.3"
django-modeltranslation = "==0.19.8"

[dev-packages]

[requires]
python_version = "3.8"
