[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
coverage = "*"
twine = "*"
m2r = "*"
garpix-qa = "*"
garpix-page = "==2.42.0"
garpix-utils = "==1.8.0"
django = "==3.2"
mistune = "==0.8.4"
psycopg2-binary = ">=2.9.3"

[dev-packages]

[requires]
python_version = "3.8"
